<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VUE</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <span v-if="name">{{msgName}}</span>
        <span v-else>hola VUE</span>
        {{msg}} {{name}}
        <br>
        <input type="text" v-model="name" />
    </div>
</body>

<script src="hola.js"></script>

</html>